{% extends 'idealista_app/base.html' %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/8593a80e63.js" crossorigin="anonymous"></script>
</head>
<div>
    <p><h3>Tus anuncios</h3></p>
    <br>
    <br>
    <div class="container">

        {% for propietat in properties_user %}
        <form class="bg-light px-1">
         <br>
         <br>

          <div class="row">
            <!-- transparent url('../../static/img/imgcasa2.png') no-repeat center center /cover; height: 500px; -->
            <div class="col-6">
                    <img src="{% static "img/casa_prefabricada.jpg" %}" width="500px">
            </div>
            <br>
          <div class="col-4">
              <strong>{{propietat.name}}</strong>
                <br>
                <br>
                {{propietat.description}}
                <br>
                <br>
                Con {{propietat.rooms}} habitaciones y {{propietat.bath}} baños
                <br>
                <br>
                <strong>Piso en</strong> {{propietat.address}} numero {{propietat.address_number}}, {{propietat.city.name}}
                <br>
                <br>
                <br>
                Por {{propietat.price}}€
                <div class="col-12" style="left: 100px;">
                <ul class="list-unstyled">
                        <li><a href="#" class="text-info"><h3>Gestionar tu anuncio</h3></a></li>
                </ul>
                <p class="text-muted">
                        <b>Modificar, destacar o desactivar</b>
                    </p>
                <br>
                <br>
                <br>
            </div>
            </div>
  
            
          </div>
        </form>
        {% endfor %}

    
  
            </div>
            <div>
                    <button class="btn btn-secondary btn-block rounded-0" type="submit" value="enviar" style="width: 200px; height: 50px;">
                            <strong>Poner otro anuncio</strong> 
                        </button>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
            </div>
        <div>
            <h5><strong>Tambíen puedes</strong></h5>
            <br>
            <ul class="list-unstyled">
                    <li><a href="#" class="text-info">Mejorar las fotos y los vídeos</a> de tu anuncio</li>
                    <br>
                    <li><a href="#" class="text-info">Imprimir tu anuncio</a> para ponerlo en portales, farolas, la universidad...</li>
                    <br>
                    <li> Ver nuestra <a href="#" class="text-info">política de cobros y precios</a> </li>
            </ul>

        </div>
        </div>
      </div>
</div>
{% endblock %}