<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/8593a80e63.js" crossorigin="anonymous"></script>
</head>

<body>
    <div>
    
        <div class="footer-copyright text-left py-1 bg-idealista">
                <img src="{% static "img/logo.svg" %}" width="300px">
        </div>
      
                <br>
                <br>
                <br>
        <div class="container">
    <div class="row" >
        <form class="md-form">
            <div class="file-field">
              <div class="z-depth-1-half mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg" class="img-fluid"
                  alt="example placeholder">
              </div>
              <div class="d-flex justify-content-center">
                <div class="btn btn-mdb-color btn-rounded float-left">
                  <span>Choose file</span>
                  <input type="file">
                </div>
              </div>
            </div>
          </form>
          <br>
          <button class="btn btn-secondary btn-block rounded-0" type="submit" value="enviar">
            <strong>¡Publicar tu anuncio!>> </strong>
        </button>

          
    </div>
        </div>
    </div>
    
    <br><br><br><br><br>
    <footer class="d-flex flex-column footer font-small">
      <div class="footer-copyright text-center py-3 bg-light">
        <a>Oportunista Copyright &copy; 2019-2019</a>
      </div>
    </footer>
  </body>
  


</html>