[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.5"
django-widget-tweaks = "*"

[requires]

[scripts]
runserver = 'python3 idealista/manage.py runserver'
