<head>
    <meta charset="utf-8">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <script src="https://kit.fontawesome.com/8593a80e63.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-1">
                <a href="#" id="showPerfil" class="text-secondary">Perfil</a>
            </div>
            <div class="col-auto">
                <a href="#" id="showDatos" class="text-muted">Datos de acceso</a>
            </div>
        </div>
        <hr>

        <div id="perfil">
            <div class="row py-3">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="nombre" aria-describedby="nombreHelp"
                        placeholder="{{ user.first_name }}">
                    <small id="nombreHelp" class="form-text text-muted">Aparecerá cuando escribas a otros usuarios o
                        publiques tu anuncio</small>
                </div>
            </div>

            <div class="row py-3">
                <div class="col">
                    <div class="row">
                        <h3>{{ user.first_name }}</h3>
                    </div>
                    <div class="row"><i class="fas fa-user-circle fa-7x text-muted"></i></div>
                    <div class="row"><a href="#" class="text-info">Añadir foto</a></div>
                    <div class="row"><small class="text-muted">Una foto de tu cara ayuda a conocerte mejor</small>
                    </div>

                </div>

            </div>

            <div class="row py-3">
                <div class="col">
                    <div class="row">
                        <h4>Email de acceso y contacto</h4>
                    </div>
                    <div class="row">
                        <p>{{ user.email }}</p>
                    </div>
                    <div class="row">
                        <a href="#" class="text-info">Modificar email</a>
                    </div>
                </div>
            </div>

            <div class="row py-3">
                <a href="#" class="text-info">Darse de baja en idealista</a>
            </div>
            <div class="row py-3">
                <button type="button" class="btn btn-dark">Guardar cambios</button>
            </div>
        </div>

        <div id="datos">

            <div class="row">
                <b>Email</b>, donde recives nuestras comunicaciones y los contactos de interesados o anunciantes
            </div>
            <div class="row">
                {{ user.email }}
            </div>
            <div class="row">
                <a href="#" class="text-info">Modificar email</a>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script type="text/javascript">
        console.log("Loading...")
        $(document).ready(() => {
            console.log("OK")
            $("#perfil").show()
            $("#datos").hide()
            $("#showPerfil").click(() => {
                $("#perfil").show()
                $("#datos").hide()
            })
            $("#showDatos").click(() => {
                $("#perfil").hide()
                $("#datos").show()
            })
        })
    </script>
</body>