<!DOCTYPE html>
<html>

{% extends 'idealista_app/base.html' %}
{% block content %}
{% load widget_tweaks %}
<head>
  <meta charset="utf-8">
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/8593a80e63.js" crossorigin="anonymous"></script>
</head>

<body>


    <div class=" container max-width-540 py-5">
        <a href="{% url 'idealista_app:homePage' %}" class="text-info">
          oportunista
        </a>
        <i class="fas fa-angle-right">

        </i>

        <a class="dropdown-toggle text-dark" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Barcelona
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>






    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="{% static "js/bootstrap.js" %}"></script>
</body>


{% endblock %}

</html>