<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% load static %}

    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/8593a80e63.js" crossorigin="anonymous"></script>
   
    


</head>
<body>

<div class="vertical-top">
        <div class="container max-width-4000">

            <div class="row">
                <div class="col-6">
                  <!-- TODO hacer que funcione bien con django -->
                    <img src="../../static/img/idealista.png" class="img-fluid" alt="Responsive image" height="230" width="230" >
                </div>
                <div class="col-6", style="margin-top: 3%">
                  <button class="btnmain" style="border-radius: 50px; border:1px solid #D5D5D5; padding: 6px; width: 250px;"><i class="fas fa-thumbtack" style="color: blueviolet"><span style="color: black">&nbsp;Pon tu anuncio gratis</span></i></button>
                <a href="{% url 'idealista_app:login' %}" >
                  <button class="btnmain"><i class="fa fa-user" style="color: blueviolet"></i><span style="color: black">&nbsp;Acceso Usuarios</span></i></button>
                </a>
            
                    <select class="selectpicker" data-width="fit">
                            <option data-content='<span class="flag-icon flag-icon-us"></span> Español'>Español</option>
                          <option  data-content='<span class="flag-icon flag-icon-mx"></span> English'>English</option>
                        </select>
          
                </div>
    </div>
    <div class="row" style="background: transparent url('../../static/img/imgcasa2.png') no-repeat center center /cover; height: 500px;">
   

         <div class="col-3" style="margin-left: 15%; margin-top: 20%">
        <select class="custom-select" multiple style="height: 100%; width:90%;">
                <option selected>Comprar</option>
                <option value="Alquilar">Alquilar</option>
                <option value="Compartir">Compartir</option>
              </select>
        </div>
              <div class="col-3" style="margin-left: -3%; margin-top: 20%">
        <select class="custom-select" multiple style="height: 100%; width:90%;">
                    <option selected>Obra nueva</option>
                    <option value="Alquilar">Viviendas</option>
                    <option value="Compartir">Vacacional</option>
                   
                      <option value="Compartir">Habitación</option>
                    <option value="Alquilar">Oficinas</option>
                    <option value="Compartir">Locales o naves</option>
                  
                    <option value="Alquilar">Garajes</option>
                    <option value="Alquilar">Trasteros</option>
                    <option value="Compartir">Edificios</option>
                     
                    <option value="Alquilar">Terrenos</option>
               
                  </select>
              </div>
             
                  <div class="col-3" style="margin-left: -3%; margin-top:20%">
                  <select class="custom-select" multiple style="height: 100%; width:90%;"> 
                        <option selected>Barcelona</option>
                   </select>
                   <br>
                   <br>
                   <button class="btn btn-secondary btn-block rounded-0" style="width:90%;" type="search"><strong>Buscar</strong></button>
                   <br>
                   <br>
                   <br>
                   <button class="btn btn-secondary btn-block rounded-0" style="width:90%;" type="submit"><strong>Poner anuncio</strong></button>
                  </div>
          
         
    </div>
    <div class="row" style="margin-top: 10%; margin-left: 16%;">
        <h5 > <strong>1.767.221 anuncios, 20.120 nuevos ayer</strong></h5>
    </div>
    <div class=row>
      <div class="col-6" style="margin-left: 16%;">
        Tus dos primeros anuncios son gratis
      </div>
   
    </div>
    <div>
      <div class="col-6" style="margin-left:18%;">
        <br>
        <br>
        <br>
          <h5 > <strong>Búsqueda por texto libre</strong></h5>
          <input type="radio" name="radio" value="bool"> Comprar &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="radio" value="bool"> Alquilar  <br>
       
  
          <div class="form-group; row">
            <div class="col-4">
                <select class="form-control">
                    <option>Selecciona...</option>
                    <option>Obra nueva</option>
                    <option>Viviendas</option>
                    <option>Habitación</option>
                    <option>Oficinas</option>
                    <option>Locales o naves</option>
                    <option>Garajes</option>
                    <option>Trasteros</option>
                    <option>Edificios</option>
                    <option>Terrenos</option>
                  </select>
            </div>
          <div class="col-6">
              
            <input type="email" class="form-control" id="exampleInputEmail1"style="width:170%;" aria-describedby="emailHelp" placeholder="Escribe dónde buscas">
              <small id="emailHelp" class="form-text text-muted">También puedes buscar por característica, teléfono...</small>
            
            </div>
            <div>
              <button class="button"style="height:50%; margin-left:245%" type="submit"><strong>Buscar</strong></button>
            </div>
            </div>
            <br>
            <br>
            <br> 
            <br>
            <br> 
            <br>
            <br> 
            <br>
            <br> 
            <br>
            <br>
              <a style="margin-left: 35%;">Oportunista Copyright &copy; 2019-2019</a>
            

          
      </div>
    </div>
  </div>
  </div>
 
</div>



</body>
<!--
<body style="resize: both;overflow: auto;">
    <div class="col-ide-lg-12 col-ide-xl-12 content"> 

        <div class="container max-width-330">

            <div class="container col">
              <div class="left-center";>
                     TODO hacer que funcione bien con django 
                    <img src="../../static/img/idealista.png" class="img-fluid" alt="Responsive image" height="230" width="230">
                </div>
                <div style="margin-top:-26%;margin-left: 22%">
                     <button class="btn"><i class="fa fa-user" style="color: blueviolet"><span style="color: black">&nbsp;Acceso Usuarios</span></i></button>
                </div>
            </div>
        </div>

    </div>

</body>
-->
</html>
