
<meta charset="utf-8">
<html>
    <head>
        {% load widget_tweaks %}
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    </head>
    <body>
        <form action="/login/" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {% render_field field class="form-control rounded-0" %}
                {% for error in field.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>

            {% endfor %}
            <button class="btn btn-secondary btn-block rounded-0" type="submit" value="enviar">
                Entrar en oportunista
            </button>
        <div>
            ¿No eres usuario de oportunista? <a href="#">Apúntate como particular</a>
        </div>
    </body>
</html>
