{% extends 'idealista_app/base.html' %}

{% block content %}
{% load widget_tweaks %}

<form action="/publish/" method="post">
    {% csrf_token %}
    {% for field in form %}
    {% if field.name != "remember" %}
    <div class="form-group">
        {{ field.label_tag }}
        {% render_field field class="form-control rounded-0" %}
        {% for error in field.errors %}
        <div class="invalid-feedback">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endfor %}

    <input type="submit" value="Submit">
</form>
{% endblock %}