<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/8593a80e63.js" crossorigin="anonymous"></script>
</head>

<body>
    <div>
    
        <div class="footer-copyright text-left py-1 bg-idealista">
                <img src="{% static "img/logo.svg" %}" width="300px">
        </div>
      
                <br>
                <br>
                <br>
        <div class="container">
    <div class="row">
        <div class="col-6">
          <br>
            <h4><strong>Características del piso</strong></h4><br>
            Tipo de piso (opcional)
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">Piso</label><br>
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">Ático</label><br>
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">Dúplex</label><br>
                <input type="checkbox" class="form-check-input" id="materialUnchecked">
                <label class="form-check-label" for="materialUnchecked">Estudio/loft</label><br>
            <br>
            </div>
            Estado
            <br>
            <br>
            <input type="radio" name="radio-compartir" value="bool">
            <label class="form-check-label" for="radio-compartir">
              A reformar
            </label>  
            <br>
            <input type="radio" name="radio-compartir" value="bool">
            <label class="form-check-label" for="radio-compartir">
              Buen estado
            </label>
            <br>
            <br>

            m<sup>2</sup> construidos
            <input type="text" class="form-control rounded-0" id="location" aria-describedby="locationHelp" style="width: 330px;">
            <br>
            m<sup>2</sup> utiles
            <input type="text" class="form-control rounded-0" id="location" aria-describedby="locationHelp" style="width: 330px;">
            <br>
            Número de habitaciones
            <input type="text" class="form-control rounded-0" id="location" aria-describedby="locationHelp" style="width: 330px;">
            <br>
            Número de baños y aseos
            <br>
            <input type="text" class="form-control rounded-0" id="location" aria-describedby="locationHelp" style="width: 330px;">
            <br>
            Fachada del inmueble
            <br>
            <br>
            <input type="radio" name="radio-compartir" value="bool">
            <label class="form-check-label" for="radio-compartir">
              Exterior
            </label> 
            <br>
          
            <input type="radio" name="radio-compartir" value="bool">
            <label class="form-check-label" for="radio-compartir">
              Interior
            </label>  
            <br>
            <br>
            Equipamiento
            <br>
            <br>
            <input type="radio" name="radio-compartir" value="bool">
            <label class="form-check-label" for="radio-compartir">
              Cocina no equipada y casa sin muebles
            </label> 
            <br>
            <input type="radio" name="radio-compartir" value="bool">
            <label class="form-check-label" for="radio-compartir">
              Cocina equipada y casa sin muebles
            </label>  
            <br>
            <input type="radio" name="radio-compartir" value="bool">
            <label class="form-check-label" for="radio-compartir">
              Cocina equipada y casa amueblada
            </label>  
            <br>
            <br>

            Ascensor
            <br>
            
            <input type="radio" name="radio-compartir" value="bool">
            <label class="form-check-label" for="radio-compartir">
              Sí tiene
            </label> 
            <br>
            <input type="radio" name="radio-compartir" value="bool">
            <label class="form-check-label" for="radio-compartir">
             No disponible
            </label>  
            <br>
            <br>
            <h3><strong>Precio del inmueble</strong></h3>
            <br>
            Precio
            <input type="text" class="form-control rounded-0" id="location" aria-describedby="locationHelp" style="width: 330px;">
            <br>
            <br>
            <a href="{% url 'idealista_app:publicarAnuncio3' %}">
            <button class="btn btn-secondary btn-block rounded-0" type="submit" value="enviar" style="width: 200px;">
              <strong>Siguiente>> </strong>
          </button>
        </a>
        

            

    </div>    
    </div>
    </div>
    </div>
    <br><br><br><br><br>
    <footer class="d-flex flex-column footer font-small">
      <div class="footer-copyright text-center py-3 bg-light">
        <a>Oportunista Copyright &copy; 2019-2019</a>
      </div>
    </footer>
  </body>
  


</html>