<!DOCTYPE html>
<html>

<head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body id="formulario">

<div align="center" > 
        <div style>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2>Nuevo usuario</h2>
            <br>
        </div>
        <div id="formulario">
    <labe>
            <span> Email de acceso </span><br>

                <input type="text" name="Email" required>
                <br>
                <span>Nombre</span><br>
                <input type="text" name="Nombre" required>
                <br>
                <span>Contraseña</span><br>
                <input type="password" name="Contraseña"require>
            </labe>
    
            <div>
                <p class="help-text">Utiliza al menos 4 caracteres, letras y
                    números
                </p>
            </div>
            <div>
                <label>
                    <input type="checkbox" id="cbox1" value="1stCheck">"Aceptar la política de privacidad"
                </label><br>
    
                <label>
                    <input type="checkbox" id="cbox2" value="2stCheck">"Recibir información de inmuebles,
                                                                        noticias y otras comunicaciones 
                                                                        promocionales desde idealista,
                                                                        idealista/data, idealista/hipotecas o
                                                                        Rentalia basadas en tu perfil."
                </label><br>
                
            </div>
    
            </div>
        </div>
        
    </body>
    </html>