<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../static/css/style.css">

  

</head>

<body>
    <div class="vertical-center">
        <div class="container max-width-330">

            <div class="container col">
                <div class="text-center">
                    <!-- TODO hacer que funcione bien con django -->
                    <img src="../../static/img/idealista.png" class="img-fluid" alt="Responsive image">
                </div>
                <div class="alert alert-success" >
                    ¡Felicidades, tu registro se ha completado correctamente!
                </div>              
</body>

</html>